body {
    font-family: Tahoma, sans-serif;
    margin: 0;
  }
  
  .ContactView-title {
    font-size: 24px;
    padding: 0 24px;
  }
  
  .ContactList {
    margin: 0;
    list-style: none;
    padding: 8px 24px;
    border-top: 1px solid #f0f0f0;
  }
  
  .ContactView   {
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid #f0f0f0;
  }
  /* .ContactName {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  } */
  .ContactEmail {
    font-size: 14px;
    margin-top: 4px;
    font-style: italic;
    color: #888;
  }
  .ContactDesc{
    font-size: 14px;
    margin-top: 4px;
  }
  
  
  .ContactForm {
    padding: 8px 24px;
  }
  .ContactForm > input,
  .ContactForm > textarea {
    display: block;
    width: 240px;
    padding: 4px 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid #888;
    font-size: 14px;
  }
  .ContactForm > input.ContactForm-error {
    border-color: #b30e2f;
  }